// Mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    body, img {
      cursor: default;
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none; 
    }
  }      
  
  .UpperWhoIam-container {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-playfair-display);
    align-items: center;
    margin: auto;
    max-width: 1200px; 
    padding: 130px 0 130px 0; 
  
    .UpperWhoIam-text-section {
      width: 50%; 
      margin-left: 20px;
      overflow: hidden;
  
      div {
        margin-bottom: 40px;
        font-size: 2rem;
        color: var(--darkgrey-color);
      }
  
      p {
        margin: 50px 0;
        line-height: 1.6;
        font-size: 1.1rem;
        color: var(--darkgrey-color);
        width: 75%; 
      }
  
      .UpperWhoIam-get-in-touch {
        display: inline-block;
        font-size: 1.2rem;
        text-decoration: none;
        font-style: italic;
        color: var(--darkgrey-color);
        &:hover {
          text-decoration: none;
        }
      }
    }
  
    .UpperWhoIam-image-section {
        width: 50%;
        img {
          width: auto;
          max-height: 600px; 
          display: block; 
        }
    }
  }
  
  @media (max-width: 768px) {
    .UpperWhoIam-container {
      flex-direction: column;
  
      .UpperWhoIam-text-section, 
      .UpperWhoIam-image-section {
        width: 100%;
        img {
          max-height: auto;
        }
      }
    }
  }

  .whoiamphotography-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-playfair-display);
    margin: auto;
    padding: 30px 0 30px 0;
  
    .whoiamphotography-title {
        font-size: 2rem;
        color: var(--darkgrey-color);
        padding:  0 50px;
        border-right: 1px solid var(--darkgrey-color); 
    }
  
    .whoiamphotography-list {
        display: flex;
        align-items: center;
      
      .whoiamphotography {
        text-decoration: none;
        color: var(--darkgrey-color);
        margin: 0 25px 0 65px;
        font-size: 1.2rem;
        position: relative;
        
        &::after {
          position: absolute;
          right: -20px; 
          top: 50%;
          transform: translateY(-50%);
          color: var(--darkgrey-color);
        }
      }
    }
  }
  

  .MidWhoIam-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    padding: 130px 0 130px 0; 
    font-family: var(--font-playfair-display);
  
    .MidWhoIam-image-section {
        width: 50%;
        img {
          width: auto;
          max-height: 600px; 
          margin: 0 150px 0 0;
          display: block; 
        }
    }
  
    .MidWhoIam-text-section {
        width: 50%; 
        margin-left: 100px;
        overflow: hidden;
    
        div {
          margin-bottom: 40px;
          font-size: 2rem;
          font-family: var(--font-playfair-display);
          font-weight: lighter;
          color: var(--darkgrey-color);
          width: 100%; 
        }
  
      ul {
        list-style: none;
        padding: 0;
        
        li {
            margin: 25px 0;
            font-size: 1.1rem;
            color: var(--darkgrey-color);
            width: 100%; 
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .random-facts-container {
      flex-direction: column;
  
      .image-section,
      .facts-section {
        width: 100%;
      }
      
      .facts-section {
        padding-left: 0; // Remove padding on smaller screens
      }
    }
  }
  

  .LowerWhoIam-container {
    position: relative;
    padding: 100px 10px 100px 10px;
    text-align: center; // Center align the text
    color: white; // Set text color to white, or any color that stands out on your image
  
    .LowerWhoIam-bg-image {
      width: 100%;
      height: auto; // Maintain aspect ratio
      display: block;
    }
  
    .LowerWhoIam-overlay-text {
      position: absolute;
      bottom: -15%; // Center vertically
      left: 75%; // Center horizontally
      transform: translate(-50%, -50%); // Adjust the positioning to truly center it
      color: var(--white-color); // Change the color if needed
      font-size: 3rem; // Adjust the font size as needed
      line-height: 1.3; // Adjust the line height as needed
      // Optional: Add more styling such as font-weight, font-family, etc.
    }
  }
  
  @media (max-width: 768px) {
    .image-overlay-container {
      .overlay-text {
        font-size: 1.5rem; // Smaller font size for smaller screens
        padding: 0 10px; // Add padding to ensure text doesn't touch the edges
      }
    }
  }
  